<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <title>SearchPage</title>
    <link href="/semantic/semantic.min.css" rel="stylesheet">
    <link href="/semantic/semantic.min.css" rel="stylesheet">

</head>

<body style="background-color: rgb(245,245,245)">

    <div style="height: 20px"></div>

    <div class="ui text container">
        <form role="form" th:action="'/'+${id}+'/search'" method="post">
            <div class="ui fluid action left icon input">
                <i class="search icon"></i>
                <input type="text" name="key" th:placeholder="${key}">
                <button type="submit" class="ui teal button">搜索</button>
            </div>
        </form>
    </div>

    <div style="height: 15px"></div>

    <div class="ui text container">
        <div th:switch="${sort}">
            <div th:case="'general'" class="ui pointing menu teal">
                <a class="item active" th:href="'/'+${id}+'/search/'+${key}+'/general'">综合排序</a>
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/price'">价格排序</a>
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/source'">来源排序</a>
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/name'">名称排序</a>
            </div>
            <div th:case="'price'" class="ui pointing menu teal">
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/general'">综合排序</a>
                <a class="item active" th:href="'/'+${id}+'/search/'+${key}+'/price'">价格排序</a>
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/source'">来源排序</a>
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/name'">名称排序</a>
            </div>
            <div th:case="'source'" class="ui pointing menu teal">
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/general'">综合排序</a>
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/price'">价格排序</a>
                <a class="item active" th:href="'/'+${id}+'/search/'+${key}+'/source'">来源排序</a>
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/name'">名称排序</a>
            </div>
            <div th:case="'name'" class="ui pointing menu teal">
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/general'">综合排序</a>
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/price'">价格排序</a>
                <a class="item" th:href="'/'+${id}+'/search/'+${key}+'/source'">来源排序</a>
                <a class="item active" th:href="'/'+${id}+'/search/'+${key}+'/name'">名称排序</a>
            </div>
        </div>
    </div>

    <div style="height: 20px"></div>

    <div class="ui text container">
        <div class="ui message" th:if="${goodsInfo.size()}==0">
            <div class="header">
                未搜到符合条件的商品
            </div>
            <p>换一些关键词试试吧</p>
        </div>
    </div>

    <div class="ui text container">
        <div class="ui card fluid link" th:each="goodsInfo: ${goodsInfo}">
            <a th:href="'/'+${id}+'/info/'+${goodsInfo.id}">
                <div class="ui items">
                    <div class="item">
                        <div class="image" style="padding: 5px; margin-left: 5px">
                            <img th:src="${goodsInfo.avatarUrl}" th:if="${goodsInfo.avatarUrl.startsWith('http://')}">
                            <img th:src="'http://'+${goodsInfo.avatarUrl}" th:unless="${goodsInfo.avatarUrl.startsWith('http://')}">
                        </div>
                        <div class="content" style="padding: 20px 15px 0 30px">
                            <div class="header" th:text="${goodsInfo.name}"
                                 style="font-size: 18px; color: #008080">
                            </div>
                            <div class="meta" style="padding: 10px 0 0 10px">
                                <span class="price" th:text="'￥'+${goodsInfo.price}"></span>
                                <span class="stay" th:text="${goodsInfo.source}"></span>
                            </div>
                            <div class="description" style="padding: 10px 0 15px 5px">
                                <div th:each="tag: ${goodsInfo.synonym}" th:text="${tag}"
                                     class="ui tag label teal" style="margin: 0 20px 0 10px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div style="height: 30px"></div>

</body>
</html>